
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Stock Market Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Stock <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchStocks(key.value)" #key="ngModel" ngModel name="key" id="searchName"
        class="form-control mr-sm-2" placeholder="Search Stocks..." required>
    </form>
  </div>
</nav>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let stock of stocks" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{stock?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{stock?.companyName}}</h5>
            <p class="m-0">{{stock?.tickerSymbol}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Stocks: {{stock?.stocks}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Price : {{stock?.price}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(stock, 'edit')" class="btn btn-primary tooltips" data-placement="top"
              data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(stock, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
              data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Add Stock Modal -->
<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="addStockModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStockModalLabel">Add Company Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddStock(addForm)">
          <div class="form-group">
            <label for="name">Company Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Company Name" required>
          </div>
          <div class="form-group">
            <label for="tickerSymbol">Ticker Symbol</label>
            <input type="tickerSymbol" ngModel name="tickerSymbol" class="form-control" id="tickerSymbol"
              placeholder="Ticker Symbol" required>
          </div>
          <div class="form-group">
            <label for="stocks">stocks</label>
            <input type="number" ngModel name="stocks" class="form-control" id="stocks" placeholder="Number of Stocks"
              required>
          </div>
          <div class="form-group">
            <label for="price">price</label>
            <input type="number" ngModel name="price" class="form-control" id="price" placeholder="Stocks Price" required>
          </div>
          <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-stock-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      </div>
      </div>
      </div>

  
<!-- Edit Modal -->
<div class="modal fade" id="updateStockModal" tabindex="-1" role="dialog" aria-labelledby="StockEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateStockModalLabel">Edit Stock {{editStock.companyName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Company Name</label>
              <input type="text" ngModel="{{editStock.companyName}}" name="companyName" class="form-control" id="companyName"
                aria-describedby="emailHelp" placeholder="Name">
            </div>
            <input type="hidden" ngModel="{{editStock.id}}" name="id" class="form-control" id="id" placeholder="tickerSymbol">
            <input type="hidden" ngModel="{{editStock.tickerSymbol}}" name="userCode" class="form-control" id="userCode"
              placeholder="Email">
            <div class="form-group">
              <label for="tickerSymbol">Ticker Symbol</label>
              <input type="tickerSymbol" ngModel="{{editStock.tickerSymbol}}" name="tickerSymbol" class="form-control"
                id="tickerSymbol" placeholder="Ticker Symbol">
            </div>
            <div class="form-group">
              <label for="stocks">Number of Stocks</label>
              <input type="number" ngModel="{{editStock.stocks}}" name="stocks" class="form-control" id="stocks"
                placeholder="Number of Stocks">
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" ngModel="{{editStock.price}}" name="price" class="form-control" id="price" name="price"
                placeholder="Price">
            </div>
            <div class="form-group">
              <label for="phone">Image URL</label>
              <input type="text" ngModel="{{editStock.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl"
                placeholder="Image URL">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateStock(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
        </div>
        </div>
        </div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteStockModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <p>Are you sure you want to delete Stock {{deleteStock.companyName}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteStock(deleteStock.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
        </div>
        </div>
        </div>
</div>

<!-- Notification for no Stocks -->
<div *ngIf="stocks?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO StockS!</h4>
    <p>No Stocks were found.</p>
  </div>
</div>